@function sp($sp) {
    @return ($sp / 14) * 1rem;
}

.main-content{
    padding-left: 0px;
}



/* Toolbar */

.data-toolbar{
    padding: 5px 20px 5px 0;
    display: flex;
    justify-content: space-between;
}

.data-toolbar > div {
    flex: 0 0 auto;
}

.button-row button{
    color: rgba(0,0,0,0.38);
    background-color: transparent;
    margin-right: 10px;
    transition: background-color 200ms cubic-bezier(0.25, 0.8, 0.25, 1.0);
}

.button-row button:hover{
    color: rgba(0,0,0,0.88);
    background-color: rgba(0,0,0,0.09);
}

@keyframes rotating {
    from {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    to {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }


/* Data View */

.data-view{
    flex: 1 1 auto;
    position: relative;
    min-width: 100%;
}

.data-table{
    margin-right: 20px;
    margin-left: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(100vh - 153px);
    min-width: 1024px;
    // width: calc(100vw - 295px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: box-shadow 300ms cubic-bezier(0.25, 0.8, 0.25, 1.0);
    // box-shadow: 0 2px 2px -2px rgba(0,0,0,.2), 
    //             0 2px 2px 1px rgba(0,0,0,.14), 
    //             0 3px 3px 2px rgba(0,0,0,.12);
}

.data-table:hover{
    // box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 
    //             0 8px 10px 1px rgba(0,0,0,.14), 
    //             0 3px 14px 2px rgba(0,0,0,.12);
}

.data-header{
    flex: 0 0 auto;
}

.data-heading-row{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 50px;
    overflow: hidden;
}

.data-heading i{
    color: rgba(0,0,0,0.54);
}

.data-heading{
    position: relative;
    display: flex;
    justify-content: space-between;

    .heading-wrapper{
        display: flex;

        .heading-text{
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 50px;
        }

        .sort-icon{
            flex: 0 0 auto;
            max-height: 18px;
            min-width: 18px;
        }
    }

    .resize-bar{
        flex: 0 0 auto;
        position: relative;
        height: 50px;
        width: 20px;
        top: 3px;
        right: 0;
        cursor: col-resize;
    }

    .resize-bar:after{
        content: "";
        border-left: 1px solid rgba(0,0,0,0.03);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 0;
        bottom: 0;
        transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1.0);
    }

    .resize-bar:hover:after{
        border-right: 1px solid rgba(0,0,0,0.34);
    }

}

.data-heading:hover{
    color: rgba(0,0,0,0.55);
}

.sorted .heading-wrapper .sort-icon{
    content: '';
    background: no-repeat 0 0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkBAMAAAATLoWrAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAC3RSTlMAVywvAzg/Q1RGJXvAx/IAAAB0SURBVCjPYxg4oCg0JIQcMIRYp8CEWBdAhQwlHaBCgVIwYwRLIEKsgjDdzILiDmChQEEDBphOwRKgEFCRMJCDUKYoxJIIUoRQlqIo5AZWhFAmZigMVYRQ1igBVYRQBgRQRQhlMEUIZQhFCGVwRQhlcEX0BwBR/g5aDRRongAAAABJRU5ErkJggg==');
    background-size: 100%;
    height: 18px;
    width: 18px;
    margin-top: 19px;
    margin-left: 5px;
    transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1.0);
}

.desc .heading-wrapper .sort-icon{
    transform: rotate(180deg);
}

.data-heading, .data-footer-cell{
    font-size: sp(12);
    font-weight: 400;
    color: rgba(0,0,0,0.34);
    line-height: 50px;
    display: inline-flex;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.data-content{
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1 1 auto;
}

.data-checkbox{
    padding-left: 24px;
    padding-right: 24px;
}

.data-footer{
    height: 50px;
    border-top: 1px solid #e0e0e0;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}



.data-pagination-cell{
    font-size: sp(12);
    font-weight: 400;
    color: rgba(0,0,0,0.34);
    line-height: 50px;
    display: inline-flex;
    vertical-align: middle;
    padding: 0 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.data-pagination-cell a{
    height: 26px;
    vertical-align: middle;
}

.data-pagination-cell:hover{
    color: rgba(0,0,0,0.87);
}

.data-pagination-cell.active{
    color: blue;
}

.data-pagination{
/*    position: absolute;
    left: calc(50% - 100px);*/
    padding: 0 10px;
}

.data-selected-row{
/*    position: absolute;
    left: 0;*/
    padding: 0 10px;
}

.data-page-info{
/*    position: absolute;    
    right: 0;*/
    padding: 0 10px;
}





/* Row Styling */
.data-row{
    width: 100%;
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    height: 38px;
    float: left;
    transition: background-color 0.1s;
    overflow: hidden;
}

.data-row:hover{
    background-color: #eee;
}

.data-row.selected{
    // background-color: #f5f5f5;
    background-color: #e8f0fe;
}

.data-row.selected .data-cell{
    color: #3f84e6;
    fill: rgba(0,0,0,0.54);
}

.data-cell{
    font-size: 13px;
    color: rgba(0,0,0,0.72);
    font-weight: 400;
    display: inline-flex;
    vertical-align: middle;
    transition: all 50ms cubic-bezier(.25,.8,.25,1); 
    line-height: 38px;
    position: relative;/*
    user-select: none;*/
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-text{
    padding: 0 30px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-cell.selected{
    border: 1px solid #3f51b5;
}

/* Grid Styling */
.data-row.grid{
    float: left;
    margin: 10px;
    width: auto;
    min-width: 10rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}

.data-row.grid:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    background-color: #fff;
}

.data-row.grid .data-cell{
    display: block;
}

.booking-status, .booking-status-icon{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

.status-processing{
    color: #007bff
}
.status-completed{
    color: #28a745;
}
.status-cancelled{  
    color: #dc3545;
}
.status-aaction{
    color: #17a2b8;
}
.status-aparts{
    color: #ffc107;
}




/* No Results Row */
.no-results{
    text-align: center;
    width: 100%;
    padding: 10px;
    color: rgba(0,0,0,0.87);
    font-size: 16px;
}

.no-results .filter-word{
    color: rgba(0,0,0,0.50);
}


.content-loading{
    text-align: center;
}

.content-loading img{
    margin: 20px auto;
    width: 100px;
}




