@function sp($sp) {
    @return ($sp / 14) * 1rem;
}


.data-toolbar{
    padding: 10px;
    display: none;
}

.data-view{
    flex: 1 1 auto;
    position: relative;
}

.data-table{
    margin-right: 50px;
    overflow: scroll;
    max-height: 100%;
    background-color: #fff;
}


.data-content{
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-y: scroll;
    max-height: 600px;
    height: 600px;
}

.data-heading-row{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    height: 60px;
}

.data-heading, .data-footer-cell{
    font-size: sp(12);
    font-weight: 700;
    color: rgba(0,0,0,0.34);
    line-height: 56px;
    display: inline-flex;
    vertical-align: middle;
    padding: 0;
    border: 1px solid transparent;
    cursor: pointer;
}

.data-heading i{
    color: rgba(0,0,0,0.54);
}

.data-checkbox{
    padding-left: 24px;
    padding-right: 24px;
}

.data-footer{
    height: 56px;
    border-top: 1px solid #e0e0e0;
    position: relative;
    display: flex;
    justify-content: space-between;
}



.data-pagination-cell{
    font-size: sp(12);
    font-weight: 700;
    color: rgba(0,0,0,0.34);
    line-height: 56px;
    display: inline-flex;
    vertical-align: middle;
    padding: 0 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.data-pagination-cell a{
    height: 26px;
    vertical-align: middle;
}

.data-pagination-cell:hover{
    color: rgba(0,0,0,0.87);
}

.data-pagination-cell.active{
    color: blue;
}

.data-pagination{
/*    position: absolute;
    left: calc(50% - 100px);*/
    padding: 0 10px;
}

.data-selected-row{
/*    position: absolute;
    left: 0;*/
    padding: 0 10px;
}

.data-page-info{
/*    position: absolute;    
    right: 0;*/
    padding: 0 10px;
}



/* Row Styling */
.data-row{
    width: 100%;
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    height: 40px;
    float: left;
    transition: background-color 0.1s;
}

.data-row:hover{
    background-color: #eee;
}

.data-row.selected{
    background-color: #f5f5f5;
}

.data-cell{
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    font-weight: 400;
    display: inline-flex;
    vertical-align: middle;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
    line-height: 38px;
    border: 1px solid transparent; 
    position: relative;
    user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

}

.data-cell.selected{
    border: 1px solid #3f51b5;
}

/* Grid Styling */
.data-row.grid{
    float: left;
    margin: 10px;
    width: auto;
    min-width: 10rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}

.data-row.grid:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    background-color: #fff;
}

.data-row.grid .data-cell{
    display: block;
}

.booking-status{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
    line-height: 40px;
}

.status-processing{
    color: #007bff
}
.status-completed{
    color: #28a745;
}
.status-cancelled{  
    color: #dc3545;
}
.status-aaction{
    color: #17a2b8;
}
.status-aparts{
    color: #ffc107;
}