
<div class="main-content">

  <div class="data-toolbar">
    <button class="btn btn-primary" >Customer</button>
    <button class="btn btn-primary" >Store</button>
    <div style="display: inline-flex;">
      <div class="form-group">
          <input type="text" class="form-control"/>
      </div>
      <div class="form-group">
          <button class="btn btn-success">Save</button>
      </div> 
    </div>
  </div>

  <div class="data-view">
    <div class="data-table">
      <div class="data-header">
        <div class="data-heading-row">
  
          <div  class="data-heading data-checkbox">
              <i  class="material-icons"
                  *ngIf="selectedRows && selectedRows.length==0"
                  (click)="checkAll()" 
              >check_box_outline_blank</i>

              <i  class="material-icons"
                  *ngIf="isSomeChecked()"
                  (click)="checkAll()"
              >indeterminate_check_box</i>

              <i  class="material-icons icon-blue"
                  *ngIf="selectedRows && customer && selectedRows.length==customers.length"
                  (click)="uncheckAll()"
              >check_box</i>
          </div>
  
          <div  class="data-heading"
                [ngStyle]="colPos.CustomerID"
                (click)="sortBy('CustomerID')">
                Customer ID
          </div>
          <div  class="data-heading"
                [ngStyle]="colPos.Name"
                (click)="sortBy('Username')">
                Name</div>
          <div class="data-heading"
                [ngStyle]="colPos.StoreID"
                (click)="sortBy('StoreID')">
                Store</div>
          <div class="data-heading"
                [ngStyle]="colPos.Address1"
                (click)="sortBy('Address1')">
                Address 1</div>
          <div class="data-heading"
                [ngStyle]="colPos.Address2"
                (click)="sortBy('Address2')">
                Address 2</div>
        </div>
      </div>
  


      <div class="data-content">
        <div  class="data-row" 
              *ngFor="let customer of pagedItems"
              [ngClass]="{'selected':selectedRows.includes(customer.CustomerID)}"
              (click)="toggleCheckbox(customer.CustomerID)"
              >
          <div  class="data-cell data-checkbox">
            <i class="material-icons" *ngIf="!selectedRows.includes(customer.CustomerID)">check_box_outline_blank</i>
            <i class="material-icons icon-blue" *ngIf="selectedRows.includes(customer.CustomerID)">check_box</i>
          </div>
          <div  class="data-cell" 
                [ngStyle]="colPos.CustomerID"
                [ngClass]="{'selected':selectedCell===customer.CustomerID+'CustomerID'}"
          >{{ customer.CustomerID }}</div>
          <div class="data-cell"
                [ngStyle]="colPos.Name"
                [ngClass]="{'selected':selectedCell===customer.CustomerID+'Name'}"
          >{{ customer.Name }}</div>
          <div class="data-cell"
                [ngStyle]="colPos.Store"
                [ngClass]="{'selected':selectedCell===customer.CustomerID+'Store'}"
          >{{ customer.StoreName }}</div>
          <div class="data-cell"
                [ngStyle]="colPos.Address1"
                [ngClass]="{'selected':selectedCell===customer.CustomerID+'Address1'}"
          >{{ customer.Address1 }}</div>
          <div class="data-cell"
                [ngStyle]="colPos.Address2"
                [ngClass]="{'selected':selectedCell===customer.CustomerID+'Address2'}"
          >{{ customer.Address2 }}</div>
        </div>
      </div>
  



      <div class="data-footer">

        <div class="data-selected-row">
          <div class="data-footer-cell" *ngIf="selectedRows && customers">
            {{selectedRows.length}} Customers Selected ({{customers.length}} Total)
          </div>
        </div>


        <div class="data-pagination">
          <div class="data-pagination-cell">
            <a (click)="setPage(1)">&lt;&lt;</a>
          </div>
          <div class="data-pagination-cell">
              <a (click)="setPage(pager.currentPage - 1)">&lt;</a>
          </div>
          <div class="data-pagination-cell"
              *ngFor="let page of pager.pages"
              [ngClass]="{active:pager.currentPage === page}">
              <a (click)="setPage(page)">{{page}}</a>
          </div>
          <div class="data-pagination-cell">
              <a (click)="setPage(pager.currentPage + 1)">&gt;</a>
          </div>
          <div class="data-pagination-cell">
              <a (click)="setPage(pager.totalPages)">&gt;&gt;</a>
          </div>

        </div>

        <div class="data-page-info">
            <div class="data-footer-cell">
                Per Page
              </div>
              <div class="data-footer-cell">
                <select class="form-control"
                        (change)="setItemsPerPage($event.target.value)">
                  <option *ngFor="let item of itemsPerPage" value={{item}}>
                    {{item}}
                  </option>
                </select>
              </div>
              <div class="data-footer-cell">
                ({{pager.totalPages}} Pages Total) 
              </div>
        </div>
      </div>
    </div>

  </div>
  
</div>
   