/* Fonts */
//$font: Roboto, Helvetica, sans-serif;
//$font-color: rgba(0,0,0,0.85);

// Import table view, used by Booking List etc


// Variables

/**
 * Box Shadow Opactity for Left Menu and Top Menu
 */
$box-shadow-opacity: 0;

 
.app-view{
    // display: flex;
    // flex-direction: column;
    // overflow: auto;
    // height: 100vh;
    // min-height: 600px;
    height: 100%;
    overflow:unset;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #2f4050;
}

/* #pageWrapper */
#pageWrapper{
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}
  
#page-wrapper, .navbar{
    transition: all .4s ease;
}





/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/









/* Nav - Left Menu and Top Menu*/

/* Nav DIV container */
.navbar{
    border-color: #2f4050;
}

.navbar-top{
    border: 1px solid transparent;
    background-color: #fff;
    position: relative;
    min-height: 50px;
    // margin-bottom: 20px;
    padding: 10px;
}

.navbar, .navbar-top{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
    0 3px 1px -2px rgba(0,0,0,.2), 
    0 1px 5px 0 rgba(0,0,0,.12);
}

/* Navbar with collapsable div */
.navbar.navbar-static-collapse{
    padding-left: 0;
    padding-right: 0;
}

/* Background color and box shadow for collapsable div */
.navbar-static-collapse{
    background-color: #2f4050;
}

/* Media query for size and z-index */
@media (min-width: 760px){
    .navbar-static-side{
        z-index: 2001;
        position: absolute;
        width: 220px;
    }
}

/* Nav UL element */
.nav{
    background-color: #2f4050;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Header in Nav */
.nav-header{
    padding: 33px 25px;
}

.nav-logo{
    color: #a7b1c2;
    font-size: 20px;
}








/* Nav Menu Items */

/* Nav LI element */
.nav-menu-item{
    position: relative;
    display: block;
    list-style: none;
    outline: none;
}

/* Nav A element */
.nav-menu-item a{
    // color: #a7b1c2;
    color: rgba(255,255,255,0.6);
    font-weight: 600;
    padding: 14px 20px 14px 25px;
    position: relative;
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-left: 3px solid transparent;
}

.nav-menu-item a:hover{
    background-color: #293846;
    color: #fff;
}

.nav-menu-item.has-submenu>a:after{
    font-family: 'Material Icons';
    content: 'keyboard_arrow_down';
    color: rgba(255,255,255,0.4);
    font-size: 20px;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
}
.nav-menu-item.active.has-submenu>a:after{
    content: 'keyboard_arrow_up';
}

.nav-menu-item>a.active, .nav-menu-item.active>a{
    color: #ffa000;
}
.nav-menu-item a.active, .nav-menu-item.active a{
    border-left-color: #ffa000;
}

.nav-menu-item ul.submenu{
    display: none;
    height: 0px;
    // display: block;
    transition: height 0.5s linear;
}

.nav-menu-item.active ul.submenu{
    // display: block;
    height: 100%;
    // overflow: hidden;
    display: initial;
}

.submenu .nav-menu-item a{
    padding: 14px 10px 14px 45px;
}









/* Left column on top nav */
.nav-left-col{
    display: block;
    width: 60%;
    float: left;
    // border: 1px solid red;
}

.nav-right-col{
    display: block;
    float: right;
}

.nav-right-col button{
    float: right;
}

/* Navbar Top Search Box */
.navtop-search{
    // border: 1px solid black;
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
    float: right;
    
}
.navtop-search div{
    display: inline-block;
    margin: 0 5px;
}
.search-wrapper{
    width: 400px;
    background: #fff;
    // border: 1px solid red;
    border-radius: 20px;
    padding: 5px 50px 5px 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),
                0 0 0 1px rgba(0,0,0,0.08);
}

.navtop-search .input-container{
    // border: 1px solid blue;
    padding: 0;
    width: 100%;
}

.navtop-search input{
    padding: 0;
    border: 1px solid transparent;
    background: transparent;
    // border: 1px solid green;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    outline: 0;
    width: 100%;
}



/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/






/* Page Wrapper - Main content view on right */
#page-wrapper{
    transition: all .4s ease;
    position: relative;
    background-color: #efefef;
}

/* Media query */
@media (min-width: 760px){
    #page-wrapper{
        margin: 0 0 0 220px;    /* Left Side Menu Width */
        height: 100vh;
        // margin-bottom: 40px;    /* Footer Height */
    }
}


/*  */
.border-bottom{
    border: 1px solid #e7eaec;
}





/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/





/* Text Styles */

.page-title{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    // border: 1px solid red;
    border: none;
    margin-left: 10px;
    display: inline-block;
    padding-top: 12px;
    font-weight: 300;
}


.btn-shade{
    color: rgba(0,0,0,0.56);
}
.btn-shade:hover{
    color: rgba(0,0,0,0.87);
}
















/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/


/* Header */
#header{
    z-index: 60;
    background-color: #fff;/*
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
                0 1px 10px 0 rgba(0,0,0,0.12), 
                0 2px 4px -1px rgba(0,0,0,0.2);*/
    display: flex;
    flex: 0 0 auto;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232,232,232);
    height: 44px;
}

#header-logo{
    display: inline-flex;
    margin-right: 10px;
    flex: 0 0 auto;
    min-width: 100px;
}

#header-search{
    display: inline-flex;
    flex: 0 1 auto;
    width: 600px;
    height: 44px;
    min-width: 100px;
    margin-right: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#header-search:hover{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.header-search-wrapper{
    padding: 6px 16px 0;
    width: 100%;
}

.header-search-wrapper input{
    outline: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    height: 34px;
    line-height: 34px;
    font: 16px arial,sans-serif;
    border: 0px;
    width: 100%;
}

#user-control{
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
    overflow-x: hidden;
    min-width: 400px;
}

#user-control button{
    margin-right: 10px;
    transition: background-color 300ms cubic-bezier(0.25, 0.8, 0.25, 1.0);
}

#user-control button:hover{
    background-color: rgba(0,0,0,0.08);
}

.header-tooltip{
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 400;
    color: red;
}


.main {
    padding: 0;
    background-color: rgb(255,255,255);
    flex: 1 1 auto;
    height: calc(100vh - 85px);
}


.wrapper{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.left-wrapper{
    display: flex;
    flex: 0 0 auto;
    box-shadow: 2px 0 10px rgba(0,0,0,$box-shadow-opacity);
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(232,232,232);
}

.right-wrapper{
    background-color: #f9f9f9;
    position: relative;
}

.side-menu{
    flex: 0 0 auto;
    width: 234px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    padding-right: 30px;
    background-color: #fff;
}

.side-menu-add-button{
    margin: 10px auto 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    padding: 15px 40px;
    cursor: pointer;
    color: rgba(0,0,0,0.52);
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    transition: box-shadow 300ms cubic-bezier(0.25, 0.8, 0.25, 1.0);
}

.side-menu-add-button:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,0.25),
                0 5px 5px rgba(0,0,0,0.22),
                0 1px 2px rgba(0,0,0,0.24);
    color:rgba(0,0,0,0.68);
}


.side-menu-item{
    flex: 0 0 auto;
    width: 100%;
    margin: 3px 0;
    min-height: 20px;
    min-width: 150px;
    cursor: pointer;
    padding: 10px;
    outline: none;
    color: rgb(95,99,104);
    border-bottom-right-radius: 66px;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-left: 0px solid rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
    border-top-right-radius: 66px;
    position: relative;
}

.side-menu-item.has-sub-menu:before{
    content: "";
    position: absolute;
    top: 16px;
    left: 13px;
    border-top: 2px solid rgb(95,99,104);
    border-right: 2px solid rgb(95,99,104);
    transform: rotate(45deg);
    transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 5px;
    height: 5px;
}

.side-menu-item.has-sub-menu.active.open:before{
    top: 15px;
    transform: rotate(135deg);
}

.side-menu-item:hover{
    background-color: rgb(232,232,232);
}

.side-menu-item.active{
    color: rgba(25,103,210,1);
    background-color: rgb(232,240,254);

}

.side-menu-item-text{
    padding-left: 20px;
    margin: 0 auto;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
}

.side-menu-sub-menu{
    max-height: 10px;
    padding-bottom: 5px;
    transition: height 1000ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.side-menu-sub-menu.active{
    max-height: 600px;
}

.side-menu-sub-menu .side-menu-item-text{
    padding-left: 35px;
}


.app-info{
    flex: 0 0 auto;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 12px;
    color: rgba(0,0,0,0.67);
    font-weight: 500;

}


#footer{
    width: 100%;
    flex: 0 0 auto;
    display: none;
}
