<div class="app-view">
  <header id="header">

    <div id="header-logo">
      <button mat-button>RMS</button>
    </div>

    <div id="header-search">
      <div class="header-search-wrapper">
        <div style="position: relative;">
          <input placeholder="Search" type="search" class="header-search-input"/>
        </div>
      </div>
      <div class="header-search-button"></div>
    </div>
    
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Security</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log Out</button>
    </mat-menu>

    <div id="user-control">
      <button mat-button>Reports</button>
      <button mat-button>Lists</button>
      <button mat-button>Employees</button>
      <button mat-button>Store</button>
      <button mat-button>Invoices</button>
      <button mat-button>Settings</button>
      <button mat-button [matMenuTriggerFor]="userMenu">User</button>
    </div>

    

  </header>
        
  <div class="main">
 
  

  <div class="wrapper">
    
    <div class="left-wrapper">
  
      <div class="side-menu">

          <div class="side-menu-item" 
                routerLink="/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
              <div class="side-menu-item-text">Dashboard</div>
          </div>

        <div  class="side-menu-item has-sub-menu" 
              routerLink="/bookings" 
              routerLinkActive="active"
              (click)="activateMenuItem('Bookings')"
              [ngClass]="{'open':activatedMenuItem=='Bookings'}">
          <div class="side-menu-item-text">Bookings</div>
        </div>

        <div class="side-menu-sub-menu" 
             *ngIf="activatedMenuItem=='Bookings'"
             [ngClass]="{'active':activatedMenuItem=='Bookings'}">

          <div class="side-menu-item" routerLink="/bookings/processing" routerLinkActive="active">
            <div class="side-menu-item-text">Processing</div>
          </div>

          <div class="side-menu-item" routerLink="/bookings/completed" routerLinkActive="active">
            <div class="side-menu-item-text">Completed</div>
          </div>

          <div class="side-menu-item" routerLink="/bookings/awaiting-action" routerLinkActive="active">
            <div class="side-menu-item-text">Awaiting Action</div>
          </div>

        </div>

        <div class="side-menu-item has-sub-menu" 
             routerLink="/customers" 
             routerLinkActive="active"
             (click)="activateMenuItem('Customers')"
             [ngClass]="{'open':activatedMenuItem=='Customers'}">
            <div class="side-menu-item-text">Customers</div>
        </div>

        <div class="side-menu-sub-menu" 
             *ngIf="activatedMenuItem=='Customers'"
             [ngClass]="{'active':activatedMenuItem=='Customers'}">

          <div class="side-menu-item" routerLink="/customers/drafts" routerLinkActive="active">
            <div class="side-menu-item-text">Drafts</div>
          </div>

          <div class="side-menu-item" routerLink="/customers/deleted" routerLinkActive="active">
            <div class="side-menu-item-text">Deleted</div>
          </div>

          <div class="side-menu-item" routerLink="/customers/outstanding-payments" routerLinkActive="active">
            <div class="side-menu-item-text">Outstanding Payments</div>
          </div>

        </div>


        <div class="side-menu-item">
            <div class="side-menu-item-text">Payments</div>
        </div>

        <div class="side-menu-item">
            <div class="side-menu-item-text">Bookings</div>
        </div>

      </div>

      <div class="app-info">
        <span>RMS App Version 0.1 (18.06.19)</span>
      </div>

    </div>
  
    <div class="right-wrapper">

      <!-- Place Router Code Here -->
      <router-outlet></router-outlet>
      
    </div>
    


  </div>
     
    



  </div>
  <div id="footer">Footer</div>

</div>
