<div class="app-view">
  <header id="header">

    <div id="header-logo">
      <span class="header-logo-brand">
        RMS
      </span>
    </div>

    <div id="header-search">
      <div class="header-search-wrapper">
        <div style="position: relative;">
          <input placeholder="Search" type="search" class="header-search-input"/>
        </div>
      </div>
      <div class="header-search-button"></div>
    </div>

    <div id="user-controls">
      <button mat-mini-fab>User</button>
    </div>

  </header>
        
  <div class="main">
 
  

  <div class="wrapper">
    
  
    <div class="side-menu">
        <div class="side-menu-item" 
              routerLink="/" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >
            <div class="side-menu-item-text">Dashboard</div>
        </div>
      <div class="side-menu-item" routerLink="/bookings" routerLinkActive="active">
        <div class="side-menu-item-text">Bookings</div>
      </div>
      <div class="side-menu-item" routerLink="/customers" routerLinkActive="active">
          <div class="side-menu-item-text">Customers</div>
      </div>
      <div class="side-menu-item">
          <div class="side-menu-item-text">Bookings</div>
      </div>
      <div class="side-menu-item">
          <div class="side-menu-item-text">Bookings</div>
      </div>
    </div>
  
    <!-- Place Router Code Here -->
    <router-outlet></router-outlet>


  </div>
     
    



  </div>
  <div id="footer">Footer</div>

</div>
