/* Fonts */
//$font: Roboto, Helvetica, sans-serif;
//$font-color: rgba(0,0,0,0.85);

// Import table view, used by Booking List etc

 
.app-view{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    min-height: 600px;
}



/* Header */
#header{
    z-index: 60;
    background-color: #fff;/*
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 
                0 1px 10px 0 rgba(0,0,0,0.12), 
                0 2px 4px -1px rgba(0,0,0,0.2);*/
    display: flex;
    flex: 0 0 auto;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(232,232,232);
}

#header-logo{
    display: inline-flex;
    margin-right: 10px;
    flex: 0 0 auto;
    min-width: 100px;
}

#header-search{
    display: inline-flex;
    flex: 0 1 auto;
    width: 600px;
    height: 44px;
    min-width: 100px;
    margin-right: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2px;
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#header-search:hover{
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.header-search-wrapper{
    padding: 6px 16px 0;
    width: 100%;
}

.header-search-wrapper input{
    outline: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    height: 34px;
    line-height: 34px;
    font: 16px arial,sans-serif;
    border: 0px;
    width: 100%;
}

#user-control{
    display: flex;
    flex: 0 0 auto;
    overflow-x: hidden;
    min-width: 400px;
}



.main {
    padding: 0;
    background-color: rgb(255,255,255);
    flex: 1 1 auto;
}






.wrapper{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.left-wrapper{
    display: flex;
    flex: 0 0 auto;
    box-shadow: 2px 0 6px rgba(0,0,0,0.13);
    flex-direction: column;
    justify-content: space-between;
}

.side-menu{
    flex: 0 0 auto;
    width: 234px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    padding-right: 30px;
    background-color: #fff;
}

.side-menu-item{
    flex: 0 0 auto;
    width: 100%;
    margin: 3px 0;
    min-height: 20px;
    min-width: 150px;
    cursor: pointer;
    padding: 10px;
    outline: none;
    color: rgb(95,99,104);
    border-bottom-right-radius: 66px;
    border-bottom: 1px solid rgba(0,0,0,0);
    border-left: 0px solid rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
    border-top-right-radius: 66px;
}

.side-menu-item:hover{
    background-color: rgb(232,232,232);
}

.side-menu-item.active{
    color: rgba(25,103,210,1);
    background-color: rgb(232,240,254);

}

.side-menu-item-text{
    padding-left: 20px;
    margin: 0 auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
}


.app-info{
    flex: 0 0 auto;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: 12px;
    color: rgba(0,0,0,0.67);
    font-weight: 500;

}


#footer{
    width: 100%;
    flex: 0 0 auto;
    display: none;
}
