<div class="table-wrapper">

    <!-- Toolber -->
    <div class="table-toolbar">
        <button>Cols</button>
    </div>

    <!-- Header -->
    <div class="table-header">
        <div *ngFor="let h of headers" 
             class="table-header-cell"
             [ngStyle]="{'width': h.width+'%'}"
             >
             <div class="header-wrapper">
                 <div class="header-text">
                    {{h.name}}
                 </div>
                 <div class="header-sort-icon"></div>
             </div>
        </div>
    </div>

    <!-- Body -->
    <div class="table-body">
        <div *ngFor="let d of data" class="body-row">
            <div *ngFor="let h of headers" 
                 class="body-row-cell"
                 [ngStyle]="{'width': h.width+'%'}"
                 >
                {{d[h.field]}}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="table-footer"></div>

</div>