/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 


/* Fonts */
$font: 'Helvetica Neue', 'Roboto', 'Arial', sans-serif;
$font-color: rgba(0,0,0,0.85);

/* Resets */
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
   /* vertical-align: baseline;*/
}

/* Body */
html,
body{
    margin: 0;
    padding: 0;
    font-family: $font;
    height: 100%;
    position: relative;
}





/* Icons */

.icon-blue{
    color: #4285f4;
}

.booking-status, .booking-status-icon{
    vertical-align: middle;
    margin-right: 10px;
    font-size: 13px;
}

/* Button */
button{
    outline: none;
}

/* Material Icon Buttons */
.small-icon > .mat-icon-button{
    height: 20px;
    width: 20px;
    line-height: 20px;
}

/* Material Select Display problem in booking details form */

// Move element to the left
.small-select{
    left: 10px;
    max-width: 130px;
}

// Remove border from the top to bring element up inline
.small-select .mat-form-field-infix{
    border-top: none;
}

// Bring the padding down to zero
.small-select .mat-form-field-wrapper{
    padding-bottom: 0;
}

// Zero padding causes the underline to display in middle, remove it
.small-select .mat-form-field-underline{
    // display: none
    bottom: 0.2em;
}

