.toolbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  .left-buttons,.right-buttons{
    padding: 10px;
    flex: 1 0 auto;
  }
  .left-buttons{
    display: flex;
    justify-content: flex-start;
  }
  .right-buttons{
    padding-right: 35px;
    display: flex;
    justify-content: flex-end;
    button{
      margin: 0 10px;
      color: rgba(0,0,0,0.38);
    }
    button:hover{
      color: rgba(0,0,0,0.88);
    }
  }
  a{
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
                0 2px 2px 0 rgba(0,0,0,0.14);
  }
}


.card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;

  .card{
    min-width: 300px;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
                0 2px 2px 0 rgba(0,0,0,0.14),
                0 1px 5px 0 rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    position: relative;
    border-radius: 2px;
    padding: 0;
    background: #fff;
    color: rgba(0,0,0,0.87);
    flex: auto 0 0;
    margin: 15px 10px;

    .header{
      font-family: 'Roboto', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 20px;
      outline: none;
      color: rgba(0,0,0,0.40);
      padding: 10px 10px 15px 10px;
      width: 100%;
      flex: 0 0 auto;
    }

    .content{
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      .row{
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        cursor: pointer;

        .label,.text{
          font-size: 16px;
          padding: 5px 15px 5px 10px;
          overflow: hidden;
          white-space: nowrap;
        }

        .label{
          flex: 0 0 auto;
          width: 30%;
          color: rgba(0,0,0,0.57);          
        }

        .text{
          flex: 1 0 auto;
          color: rgba(0,0,0,0.87);
          text-overflow: ellipsis;
        }
      }

      .row:hover{
        background-color: rgba(0,0,0,0.04);
      }
      
    }

    .action{
      padding: 15px 10px 10px 10px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;

      
    }

  }


}

.w25{
  width: calc(25% - 20px);
}

.w33{
  width: calc(33% - 20px);
}

.w50{
  width: calc(50% - 25px);
}

.w66{
  width: calc(66% - 20px);
}

.w75{
  width: calc(75% - 25px);
}

