<div class="toolbar">
    <button mat-button color="primary" (click)="goBack()">Back</button>
</div>

<div class="card-container">

    <div class="card w25">
        <div class="header">Booking Details</div>
        <div class="content">
            <div class="row">
                <div class="label">Booking ID</div>
                <div class="text">{{booking.BookingID}}</div>
            </div>
            <div class="row">
                <div class="label">Booked By</div>
                <div class="text">{{booking.Username}}</div>
            </div>
            <div class="row">
                <div class="label">Booked In</div>
                <div class="text">01/01/1970</div>
            </div>
            <div class="row">
                <div class="label">Expected</div>
                <div class="text">01/01/1970</div>
            </div>
        </div>
        <div class="action"></div>
    </div>


    <div class="card w25">
        <div class="header">Booking Status</div>
        <div class="content">
            <div class="row">
                <div class="label">Collected</div>
                <div class="text">No</div>
            </div>
            <div class="row">
                <div class="label">Status</div>
                <div class="text">{{booking.StatusName}}</div>
            </div>
        </div>
        <div class="action"></div>
    </div>


    <div class="card w25">
        <div class="header">Customer Details</div>
        <div class="content">
            <div class="row">
                <div class="label">Customer ID</div>
                <div class="text">{{booking.CustomerID}}</div>
            </div>
            <div class="row">
                <div class="label">Name</div>
                <div class="text">{{booking.CustomerName}}</div>
            </div>
            <div class="row">
                <div class="label">Telephone</div>
                <div class="text">0123 455 6789</div>
            </div>
            <div class="row">
                <div class="label">Email</div>
                <div class="text">1@somthing.com</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button color="primary">Edit</button>
        </div>
    </div>

    <div class="card w50">
        <div class="header">Jobs</div>
        <div class="content">
            <div class="row">
                <div class="label">Customer ID</div>
                <div class="text">{{booking.CustomerID}}</div>
            </div>
            <div class="row">
                <div class="label">Name</div>
                <div class="text">{{booking.CustomerName}}</div>
            </div>
            <div class="row">
                <div class="label">Telephone</div>
                <div class="text">0123 455 6789</div>
            </div>
            <div class="row">
                <div class="label">Email</div>
                <div class="text">1@somthing.com</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button color="primary">Edit</button>
        </div>
    </div>

    <div class="card w50">
        <div class="header">Payments</div>
        <div class="content">
            <div class="row">
                <div class="label">Customer ID</div>
                <div class="text">{{booking.CustomerID}}</div>
            </div>
            <div class="row">
                <div class="label">Name</div>
                <div class="text">{{booking.CustomerName}}</div>
            </div>
            <div class="row">
                <div class="label">Telephone</div>
                <div class="text">0123 455 6789</div>
            </div>
            <div class="row">
                <div class="label">Email</div>
                <div class="text">1@somthing.com</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button color="primary">Edit</button>
        </div>
    </div>

</div>





