<div class="toolbar">
    <div class="left-buttons">

        <!-- <button mat-raised-button 
                color="primary" 
                (click)="goBack()">Back</button> -->
        <button mat-icon-button 
                matTooltipClass="header-tooltip"
                matTooltip="Back"
        (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>

    </div>
    <div class="right-buttons">
            <button mat-icon-button 
                    matTooltipClass="header-tooltip" 
                    matTooltip="Save">
                        <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button 
                    matTooltipClass="header-tooltip" 
                    matTooltip="Print Invoice">
                        <mat-icon>print</mat-icon>
            </button>
            <button mat-icon-button 
                    matTooltipClass="header-tooltip" 
                    matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button 
                    matTooltipClass="header-tooltip" 
                    matTooltip="Download">
                        <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button 
                    matTooltipClass="header-tooltip" 
                    matTooltip="Settings">
                        <mat-icon>settings</mat-icon>
            </button>
    </div>
</div>


<!-- Car Content -->
<div class="card-container">

    <!-- Booing Details -->
    <div class="card w33">
        <div class="header">Booking Details</div>
        <div class="content">
            <div class="row">
                <div class="label">Booking ID</div>
                <div class="text ">{{booking.BookingID}}</div>
            </div>
            <div class="row">
                <div class="label">Booked By</div>
                <div class="text">{{booking.Username}}</div>
            </div>
            <div class="row">
                <div class="label">Booked In</div>
                <div class="text">
                    <!-- TODO: Change date format to UK -->
                    <input [matDatepicker]="dpbookedin" 
                           class="datepicker" 
                           placeholder="01/01/1970"/>
                    <mat-datepicker-toggle [for]="dpbookedin" class="small-icon">
                        <mat-icon   matDatepickerToggleIcon
                                    class="small-icon"
                        >
                            keyboard_arrow_down
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dpbookedin></mat-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="label">Expected</div>
                <div class="text">
                    <!-- TODO: Change date format to UK -->
                    <input [matDatepicker]="dpduedate" 
                           class="datepicker" 
                           placeholder="01/01/1970"/>
                    <mat-datepicker-toggle [for]="dpduedate" class="small-icon">
                        <mat-icon   matDatepickerToggleIcon
                                    class="small-icon"
                        >
                            keyboard_arrow_down
                        </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dpduedate></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="action"></div>
    </div>


    <!-- Booking Status -->
    <div class="card w33">
        <div class="header">Booking Status</div>
        <div class="content">
            <div class="row">
                <div class="label">Collected</div>
                <div class="text">No</div>
            </div>
            <div class="row">
                <div class="label">Status</div>
                <div class="text">{{booking.StatusName}}</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button>Mark As Collected</button>
            <button mat-raised-button 
                    [matMenuTriggerFor]="changeStatusMenu">
                    <span>Change Status</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
        </div>
    </div>

    <div class="card w33">
        <div class="header">Customer Details</div>
        <div class="content">
            <div class="row">
                <div class="label">Customer ID</div>
                <div class="text">{{booking.CustomerID}}</div>
            </div>
            <div class="row">
                <div class="label">Name</div>
                <div class="text">{{booking.CustomerName}}</div>
            </div>
            <div class="row">
                <div class="label">Telephone</div>
                <div class="text">0123 455 6789</div>
            </div>
            <div class="row">
                <div class="label">Email</div>
                <div class="text">1@somthing.com</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button>Edit</button>
        </div>
    </div>

    <div class="card w66">
        <div class="header">Jobs</div>
        <div class="content">
            <div class="row">
                <div class="label">Customer ID</div>
                <div class="text">{{booking.CustomerID}}</div>
            </div>
            <div class="row">
                <div class="label">Name</div>
                <div class="text">{{booking.CustomerName}}</div>
            </div>
            <div class="row">
                <div class="label">Telephone</div>
                <div class="text">0123 455 6789</div>
            </div>
            <div class="row">
                <div class="label">Email</div>
                <div class="text">1@somthing.com</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button>Edit</button>
        </div>
    </div>

    <div class="card w33">
        <div class="header">Payments</div>
        <div class="content">
            <div class="row">
                <div class="label">Customer ID</div>
                <div class="text">{{booking.CustomerID}}</div>
            </div>
            <div class="row">
                <div class="label">Name</div>
                <div class="text">{{booking.CustomerName}}</div>
            </div>
            <div class="row">
                <div class="label">Telephone</div>
                <div class="text">0123 455 6789</div>
            </div>
            <div class="row">
                <div class="label">Email</div>
                <div class="text">1@somthing.com</div>
            </div>
        </div>
        <div class="action">
            <button mat-raised-button color="primary">Edit</button>
        </div>
    </div>

</div>





<!-- Drop Down Menus -->

<!-- Change Status Drop Down -->
<mat-menu #changeStatusMenu="matMenu" 
          class="dropdown-menu"
          [overlapTrigger]="false">
    <button mat-menu-item 
            class="dropdown-button"
            >Completed</button>
    <button mat-menu-item 
            class="dropdown-button"
            >Cancelled</button>
    <button mat-menu-item 
            class="dropdown-button"
            >Processing</button>
    <button mat-menu-item 
            class="dropdown-button"
            >Awaiting Action</button>
    <button mat-menu-item 
            class="dropdown-button"
            >Awaiting Parts</button>
</mat-menu>



